{% for client in freeradius_clients %}

client {{ client.name }} {
    ipaddr    = {{ client.ipaddr }}
    secret    = {{ client.secret or freeradius_clients_default_password }}
    shortname = {{ client.name }}
    nastype   = other
    require_message_authenticator = no
}

{% endfor%}
